.header{
	background-color: #2177f3;
	
}
body{
	font-size: 20px; 
}

.header>.login{
	position: relative;
    left: 80%;
    width: 200px;
}

/*navigation menu*/
.nav-menu-container{
	display: block;
}
.nav-menu-item{
	display: inline-block;
}
.nav-menu{
	background-color: red;
	padding: 20px;
}